<h2>About</h2>

<p>SEZ stands for Simple English Zine. We write articles and blogs in simple, easy to understand English for non-native learners of the English language. For difficult Vocabulary we've included simple definitions and a translation in Japanese.</p>

<p>Sometimes there may be unfamiliar historical or cultural references in an articles, so we've also included some Culture Notes to explain background and give context to the topic. Culture Notes are written in Japanese so you can read them quickly and easily.</p>

<p>You can find Vocabulary and Culture Notes at the end of each article, or you can hover on links in the article to see helpful information pop up in the bottom left corner of the screen.</p>

<p>Many articles also include audio so you can practice listening as well.</p>

<p>SEZ was started by a small group of English teachers in Tokyo in 2012 as learning tool for English language students in Japan. We've grown to include contributors from many different cultural backgrounds, professions, and nationalities.</p>

<p>We make this magazine for fun and as a public service. We don't make any money from this project and we don't intend to. We will never sell our content or sell space on the site for advertising. This means that we rely on friends and readers to contribute their time, money, and talent to keep SEZ going. If you'd like to help us out, please check out the <%= link_to "Contribute", contribute_path %> page.</p>

<p>We'll be adding more articles, blogs and features to this site as time goes by, so check in with us regularly. Please drop us a line at the <%= link_to "Contact", contact_path %> page if you have any questions, comments, concerns, advice or praise. Peace!</p>
