<h1>Archive</h1>

<ul>

  <% @articles.each do |article| %>
    <li>
      <h2><%= link_to article.title, article %></h2>
      <p><%= truncate(article.description, :length => 150, :ommision => "...") %></p>
      <% unless article.audio.empty? %>
        <%= image_tag("/images/audio_icon.png", :class => "inline_icon") %>音声付き!
      <% end %>
    </li>
  <% end %>

</ul>