<h2>Archive</h2>

<ul id="archive">

  <% @articles.each do |article| %>
    <li class="item">
      <h3><%= link_to article.title, article_path(:id => article.id) %></h3>
      <%= image_tag(article.image_url(:thumb), :class => "archive_thumb") %>
      <p><%= article.description %></p>
      <p>Published on <%= article.pubdate %>
      <% unless article.audio.empty? %>
        <p class="includes_audio">音声付き</p>
      <% end %>
    </li>
  <% end %>

</ul>
