<h1>Archive</h1>

<ul>

  <% @articles.each do |article| %>
    <li>
      <h2><%= article.title %></h2>
      <p><%= truncate(article.description, :length => 150, :ommision => "...") %></p>
      <%= "Includes Audio!" if article.audio %>
    </li>
  <% end %>

</ul>