<h2>Blog</h2>

<ul id="blog">

  <% @posts.each do |post| %>
    <li class="item">
      <h3><%= link_to post.title, article_path(:id => post.id) %></h3>
      <%= image_tag(post.image_url(:thumb), :class => "post_thumb") %>
      <p><%= post.description %></p>
      <p>Posted on <%= post.pubdate %></p>
    </li>
  <% end %>

</ul>

