%h2 Contribute

%p.sub_header_lead We make this thing because we like making it, and we hope you like reading it. If you'd like to help us continue this project there are many ways you can contribute. We greatly appreciate any kind of support you give. Your support is the only reason we can continue making this magazine.

%h3 Write Something

%p We accept manuscripts on a variety of topics, but all writing should be written in simplified English. If you're not sure what that means, feel free to send us something written in your usual style and we may be able to help you simplify it. Generally we like manuscripts that are between 400 and 1,000 words. If you're a non-native speaker and you're writing may have some small mistakes, that's fine! Please don't hesitate to submit. We don't mind if your submission has already been published elsewhere or you plan to publish it again later as long as publishing it in SEZ does not infringe on another copyright. We cannot accept every manuscript that we receive. In the case that you're manuscript is denied we will try to write you back explaining why. Please understand that we do not offer compensation.

%h3 Make Art

%p We try to accompany each article with interesting artwork. If you'd like to make artwork (illustration, graphic design, photography, etc.) for an article, please get in touch and send us some samples of your previous work. We can't offer compensation but we're happy to credit you and offer a link back to your site.

%h3 Help Translate

%p For every article, it is necessary to do some translation from English to Japanese and vice versa.

%h3 Help Edit

%p Each article must be edited for spelling, grammar, and punctuation mistakes, and for factual errors. We would especially appreciate the contributions of people with experience teaching English as a second language to ensure that articles are written at a level appropriate for a non-native speaker.


%h3 Teach Someone Something For Free

%p Free education and the free exchange of information are core principles of this magazine. In this spirit, you support us symbolically by sharing some knowledge or skill you have for free with someone in your community.

