#main-footer {

  nav {
    a, a:visited, a:hover { color: black; }
    padding: 50px 0 50px 0;

    #topics, #about { display: inline-block; width: 49%; }

    #about { float: right; }

    ul {
      padding: 50px 0 50px 0;

      li { border-radius: 4px; font-size: $font-medium; margin: 20px auto 20px auto; padding: 40px; }
    }

    #social-media li {
      display: inline-block; text-align: center; width: 20%;

      img { width: 160px; }
    }

    #license img { width: 300px; }
  }

}