#quiz-game {

  #quiz-start { font-size: $font-extra-large; text-align: center; }

  #instructions, #related-quizzes, #related-article { border-bottom: 1px solid gray; }

  h3 { padding: 50px 0 0 30px; }
  ul { margin-left: 40px; }

  #related-article {
    img { width: 100%; }
    h4  { font-size: $font-medium; padding: 20px 0 0 30px; }
  }

}