.study-section {
  padding: 20px; border-top: 1px dashed gray; margin: 20px 0 20px 0;
  li { margin: 15px; }
}
.vocab         { background-color: #fffcfa; }
.culture-notes { background-color: #fcfaff; }
.study-notes   { background-color: #fafffc; }