$bright-backdrop:   #fafcfe;
$calm-backdrop:     #ddf0f0;
$light-muted:       #eee;
$muted:             #dedede;
$dark-muted:        #555;
$bright-highlight:  #00d9ff;
$medium-highlight:  #6f8500;
$hot-highlight:     #e01b5d;