%nav#article_top_nav
  %h1 #{link_to "SEZ", root_path}
  = link_to "?", "#help_modal", :id => "help"
  #help_modal.modal_dialog
    #inner_modal
      = link_to "X", "#close", :title => "Close", :class => "close"
      %h2 SEZの使い方

      %p SEZは英語のリーディングを練習したい日本人向けのウェブサイトです。このサイトを利用して新しく興味深いものについて学んだり、リーディング力を磨いたり、英語の語彙を増やすことが出来ます。音声付きの記事もあるので、リスニングも上達することが出来ます。

      %p 記事はすべてシンプルな英語で書かれているので、中級レベルの学習者は無理なく読めるはずです

      %p 赤点線が引かれている単語にマウスポインターを合わせると、説明文が画面左下に表示されます。

      %p.example_popup
        = link_to "このリンクにマウスポインターを合わせてみて！", "", :id => "help_bubble", :class => "article_bubble_trigger"
