.article-top figure     { position: fixed; top: 16px; left: 330px; height: 710px; z-index: -2; }
.article-top img        { height: 100%; }
.article-top figcaption { font-size: $font-small; color: $dark-muted; }

.intro {
  position: fixed; top: 0; left: 0;
  background-color: white;
  width: 300px; height: 650px; z-index: -1; padding: 50px 20px;
}
.intro h2 { font-size: $font-extra-large; text-shadow: #999 -2px 5px 4px; margin-bottom: 20px; }
.intro p  { font-weight: bold; margin-bottom: 20px; }

#wrapper {
  position: absolute; top: 730px;
  border-top: 1px solid #999; background-color: white;
  padding: 0; margin: 0; width: 100%;
}

article { padding: 30px 20px; max-width: 1000px; margin: 0 auto; }

.article-body        { max-width: 800px; margin: 0 auto 20px auto; }
.article-body p      { margin-bottom: 20px; line-height: 180%; }
.article-body h3, h4 { margin: 20px 0 10px 0; }

.highlight   { font-family: 'Acknowledgement', 'Georgia', serif; padding: 40px; font-size: $font-large; line-height: 140%; display: block; }
.highlight a { font-family: 'Acknowledgement', 'Georgia', serif; }

.top-figure figure {
  float: left; width: 400px; margin: 0 14px 6px 0;
  img { padding-top: 9px; height: auto; }
  iframe, object, embed { padding-top: 9px; width: 400px; height: 250px; }
}
.article-body figcaption { background-color: $light-muted; padding: 5px; font-size: $font-regular; }
.article-body .inline_figure {
  float: none; width: 100%; margin: 0 0 15px 0;
  iframe, object, embed { width: 100%; height: 600px;}
}
.article-body img { width: 100%; }

.next-reads {
  border-top: 1px dashed gray; background-color: $bright-backdrop;
  h3                   { font-size: $font-medium; margin: 20px 0 10px 0; }
  .neighbor-article    { display: inline-block; width: 497px; vertical-align: top; margin-top: 10px; }
  img                  { float: left; background-color: white; margin-right: 10px; }
  p                    { font-weight: bold; }
}

