#main-footer        { padding: 45px 0 20px 20px; }
#main-footer   ul   { vertical-align: top; display: inline-block; width: 198px; }
#main-footer   li   { margin-bottom: 6px; font-size: $font-regular; }
#social-media  img  { width: 30px; }
#license       li   { width: 380px; font-size: $font-small; }
