.catalog {

  .catalog-entry {
    padding: 40px 0 40px 0; border-bottom: 1px solid gray; position: relative;
    img:first-child { width: 100%; background: $calm-backdrop; }
  }

  .catalog-entry-info { padding: 15px; }

  h2 { font-size: $font-large; font-weight: bold }
  p  { font-size: $font-regular; line-height: 180%; }

}

.topic-marker {
  font-size:        $font-medium;
  background-color: $hot-highlight;
  padding:          3px 5px 3px 5px;
  color:            white;
  border-radius:    5px;
  display:          inline-block;
  vertical-align:   middle;
}

.attention-flag {
  position: absolute;
  top:      60px;
  right:    0;
  width:    240px;
}