.catalog {

  ul {
    li {
      padding: 40px 0 40px 0; border-bottom: 1px solid gray; position: relative;
      img:first-child { width: 100%; }
    }
  }

  h2 a { text-decoration: underline; font-size: 42px; }
  p    { font-size: 28px; line-height: 180%; }

}

.topic_marker {
  font-size:        32px;
  background-color: $hot-highlight;
  padding:          3px 5px 3px 5px;
  color:            white;
  border-radius:    5px;
  display:          inline-block;
  vertical-align:   middle;
}

.attention_flag {
  position: absolute;
  top:      60px;
  right:    0;
  width:    240px;
}