.header-lead {
  border-top: 5px solid #000; border-bottom: 2px solid #000; text-align: center;

  p { font-size: 40px; padding: 30px 60px 30px 60px; line-height: 200%; margin: 0; }

  img.bird_logo { float: right; padding: 80px 40px 60px 40px; }
}