.study-tools {

  .includes-tool {
    width:         auto;
    display:       inline-block;
    padding:       5px 5px 0 5px;
    border:        1px solid $dark-muted;
    border-radius: 4px;
    color:         #777;
    font-size:     30px;
    font-weight:   bold;
  }
}