/* application_mobile.css.scss
* Mobile styles
*
*/

@import url(http://fonts.googleapis.com/css?family=Chivo);

@font-face {
  font-family: 'Acknowledgement';
  src: font-url('Acknowledgement-webfont.eot');
  src: font-url('Acknowledgement-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('Acknowledgement-webfont.woff') format('woff'),
       font-url('Acknowledgement-webfont.ttf') format('truetype'),
       font-url('Acknowledgement-webfont.svg#Acknowledgement-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

h2, h3, h4, p, li, figcaption {
  color: black;
  font-family: 'Chivo', sans-serif;
}

h2 {
  font-size: 300%;
}

h3 {
  font-size: 250%;
  padding: 30px;
}

p, li {
  font-size: 36px;
  line-height: 170%;
  padding: 30px
}

#container {
  width: 100%;
}

#main_header {
  text-align: center;

  h1 {

    a {
      text-decoration: none;
      color: black;
      font-family: 'Acknowledgement', sans-serif;
      font-size: 800%;
    }
  }

  nav {

    ul {
      background-color: #000;
      margin: 0 0 30px 0;
      text-align: right;

      li {
        display: inline-block;
        list-style: none;
        font-size: 180%;
        margin-right: 40px;
      }

      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 150%;
      }
    }
  }
}

.sub_header_lead {
  font-size: 40px;
  text-align: center;
  padding: 40px 100px 40px 100px;
  line-height: 200%;
  border-top: 5px solid #000;
  border-bottom: 2px solid #000;
}

#latest_articles {

  ul {

    list-style: none;
    padding: 0;
    margin: 0;

    a { text-decoration: none; }

    li {

      padding: 40px 0 40px 0;
      border-bottom: 1px solid gray;
      position: relative;

      img:first-child {
        width: 100%;
      }

      .attention_flag {
        position: absolute;
        top: 60px;
        right: 0;
        width: 240px;
      }

      .study_tools {
        padding: 0;
        margin: 0;

        li.includes_tool {
          width: auto;
          display: inline-block;
          padding: 5px 5px 0 5px;
          border: 1px solid #6f8500;
          border-radius: 4px;
          color: #6f8500;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }

  h2 {
    padding: 0;
    margin: 0;
    font-size: 42px;

    .topic_marker {
      font-size: 32px;
      background-color: #e01b5d;
      padding: 3px;
      color: #fff;
      border-radius: 5px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  h2 a {
    text-decoration: underline;
    color: black;
  }

  p {
    font-size: 28px;
    padding: 0;
    line-height: 180%;
  }
}

footer#main_footer {

  nav {
    a, a:visited, a:hover { color: #000; }
    padding: 50px 0 50px 0;

    #topics, #about {
      display: inline-block;
      width: 49%;
    }

    #about { float: right; }

    ul {
      padding: 50px 0 50px 0;
      margin: 0;

      li {
        border-radius: 4px;
        list-style: none;
        font-size: 46px;
        margin: 20px auto 20px auto;
        padding: 40px;

        a {
          text-decoration: none;
        }
      }
    }
    #social_media li {
      display: inline-block;
      text-align: center;
      width: 20%;

      img {
        width: 160px;
      }
    }
    #license {

      li {
        margin: 0;
        padding: 0;

        img { width: 300px; }
      }
    }
  }

}

form {
  dt, dd {
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 300%;
    font-family: 'Chivo', sans-serif;
  }

  input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    margin: 0;
    width: 80%;
    height: 80px;
    line-height: 40px;
    font-size: 200%;
  }

  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    margin: 0;
    width: 100%; height: 300px;
    line-height: 40px;
    font-size: 200%;
  }

  .submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    margin: 1.5em 0;
    font-size: 50px;
    line-height: 2.5em;
    font-weight: bold;
    height: 2.5em;
    width: 100%;
    background: #f5fcfa; background: -moz-linear-gradient(top, #f5fcfa 0%, #c5ccca 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5fcfa), color-stop(100%,#c5ccca)); background: -webkit-linear-gradient(top, #f5fcfa 0%,#c5ccca 100%); background: -o-linear-gradient(top, #f5fcfa 0%,#c5ccca 100%); background: -ms-linear-gradient(top, #f5fcfa 0%,#c5ccca 100%); background: linear-gradient(to bottom, #f5fcfa 0%,#c5ccca 100%);
    border: 1px solid #bbb;
  }

}

.contact_flash {
  font-size: 36px;
  color: #6f8500;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 40px 0 40px 0;
  font-family: 'Chivo', sans-serif;
}

.error_message h2, .error_message p, .error_message li {
  color: red;
  font-style: italic;
}

.error_message ul {
  padding-left: 30px;
}


#quiz_game {

  #quiz_start {
    font-size: 80px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  section { border-bottom: 1px solid gray; }

  h3 {
    padding: 50px 0 0 30px;
  }

  ul {
    margin: 0 0 0 40px;
  }

  #related_article {
    img { width: 100%; }

    h4 {
      font-size: 40px;
      padding: 20px 0 0 30px;
    }
  }

}