/* article.css.scss
* Article styles
*
*/

#article_top_nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #000;
  text-align: center;
  padding: 0;

  h1 {
    font-size: 140%;
    padding: 0;

    a {
      color: #fff;
    }
  }

  #help {
    float: right;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 2px;
    margin: 2px 20px 0 0;
    padding: 2px 6px 0 5px;
    font-weight: bold;
    color: #fff;
  }
  #help:hover {
    background-color: #fff;
    color: #000;
  }

  .modal_dialog {
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE transparency */
    filter:alpha(opacity=50); /* More IE transparency */
    z-index: 99998;
  }

  a.article_bubble_trigger {
    text-decoration: none;
    color: black;
    border-bottom: 2px dotted red;
  }

  p { text-align: left; }

  .example_popup {
    background-color: #eee;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
  }

  .modal_dialog > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 30px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
  }

  .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }

  .close:hover { background: #00d9ff; }
}

#article_top {

  figure {
    position: fixed;
    top: 26px;
    left: 330px;
    height: 710px;
    z-index: -2;

    img {
      height: 100%;
    }

    figcaption {
      font-size: 70%;
      color: #444;
    }
  }

  #intro {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 300px;
    height: 650px;
    z-index: -1;
    padding: 40px 20px;

    .topic_marker {
      background-color: #e01b5d;
      padding: 3px 6px 3px 6px;
      color: #fff;
      border-radius: 5px;
      display: inline-block;
    }

    h2 {
      font-size: 40px;
      margin: 0;
      padding: 0;
      text-shadow: #999 -2px 5px 4px;
    }

    p {
      font-size: 16px;
      font-weight: bold;
      line-height: 180%;
    }

    .study_tools {
      position: absolute;
      bottom: 10px;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        width: auto;
        height: auto;
      }

      .includes_tool {
        margin: 0;
        font-size: 12px;
        width: auto;
        color: #999;
        font-weight: bold;
        border: 2px solid #bbb;
        border-radius: 4px;
        display: inline-block;
        padding: 5px 7px 3px 5px;
      }
    }
  }
}

#wrapper {
  position: absolute;
  top: 730px;
  border-top: 1px solid #999;
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 100%;
}

article {
  padding: 30px 20px;
  max-width: 1000px;
  margin: 0 auto;

  section#article_body {

    p, h3, h4, li, pre, blockquote {
      line-height: 160%;
      font-family: 'Chivo', sans-serif;
      padding-top: 0;
      max-width: 800px;
      margin: 0 auto 20px auto;
    }

    .preview_study {
      font-weight: bold;
      font-style: italic;
    }

    .highlight, .highlight a {
      font-family: 'Acknowledgement', 'Georgia';
    }

    .highlight {
      padding: 40px;
      font-size: 32px;
      line-height: 140%;
      display: block;
    }

    .poetry {
      font-style: italic;
      border-left: 6px solid #ccc;
      padding: 0 0 0 20px;
      margin-left: 140px;
    }

    blockquote {
      max-width: 700px;
      padding-left: 20px;
      border-left: 6px solid #ccc;
    }

    figure {
      float: left;
      width: 400px;
      padding: 0 15px 15px 0;

      img {
        padding-top: 9px;
        width: 400px;
        height: auto;
      }

      iframe, object, embed {
        padding-top: 9px;
        width: 400px;
        height: 250px;
      }
    }

    figcaption {
      background-color: #eee;
      padding: 5px;
      font-size: 90%;
    }

    .inline_figure {
      float: none;
      width: 100%;
      padding: 0;
      margin-bottom: 15px;

      img { width: 100%; }

      iframe, object, embed { width: 100%; height: 600px;}
    }

    img { width: 100%; }
  }


  section#next_reads {
    border-top: 1px dashed gray;
    background-color: #fafcfe;

    h3 {
      font-size: 26px;
      margin: 20px 0 10px 0;
    }

    p {
      padding: 0;
      margin: 0;
    }

    ul {
      padding: 0;

      a {
        text-decoration: none;
        display: inline-block;
        width: 497px;

        :hover {
          text-decoration: underline;
        }
      }

      li {
        list_style: none;
        display: inline-block;
        width: 497px;
        float: left;

        img {
          float: left;
          background-color: #fff;
        }

        p {
          font-size: 22px;
          line-height: 150%;
          font-weight: bold;
          padding: 0;
          margin: 0 0 0 110px;
        }
      }
    }

  }

  section#vocab, section#audio, section#culture_notes, section#study_notes {
    padding: 6px;
    border-top: 1px dashed gray;
    margin: 20px 0 20px 0;
    line-height: 150%;

    li {
      margin: 15px;
    }
  }

  #vocab {
    background-color: #fffcfa;
  }

  #culture_notes {
    background-color: #fcfaff;
  }

  #study_notes {
    background-color: #fafffc;
  }

  a.article_bubble_trigger {
    text-decoration: none;
    color: black;
    border-bottom: 2px dotted red;
  }

  #social_media_recommend {
    margin: 60px 0 30px 0;

    a {
      display: inline-block;
      margin-left: 15px;
    }
  }

  footer {
    border-top: 1px dashed gray;

    p {
      font-size: 90%;
    }

    .tags {
      background-color: #dedede;
      padding: 1px;

      h4, p {
        display: inline;
        padding: 0;
        margin: 0;
      }
    }

    #author {
      min-height: 180px;

      ul {
        margin-left: 100px;
      }
      li {
        list-style: none;
        padding: 0 0 5px 0;
        font-size: 90%;
        color: #555;
      }
      img {
        width: 100px;
        border-radius: 20px;
        float: left;
      }
    }
  }
}

#main_footer {
  padding: 0 0 20px 20px;
  margin: 0 auto;
  max-width: 1025px;
}