// Place all the styles related to the Article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* article.css.scss
* Article styles
*
*/

#article_top_nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #000;
  text-align: center;

  h1 {
    font-size: 140%;
    padding: 0;

    a {
      color: #fff;
    }
  }

  #help {
    float: right;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 2px;
    margin: 2px 4px 0;
    padding: 2px 2px 0 2px;
    font-weight: bold;
    color: #fff;
  }
  #help:hover {
    background-color: #fff;
    color: #000;
  }

  .modal_dialog {
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE transparency */
    filter:alpha(opacity=50); /* More IE transparency */
    z-index: 99998;
  }

  a.article_bubble_trigger {
    text-decoration: none;
    color: black;
    border-bottom: 2px dotted red;
  }

  p { text-align: left; }

  .example_popup {
    background-color: #eee;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
  }

  .modal_dialog > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 30px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
  }

  .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }

  .close:hover { background: #00d9ff; }
}

#article_top {

  figure {
    position: fixed;
    top: 26px;
    left: 330px;
    height: 710px;
    z-index: -1;

    img {
      height: 100%;
    }

    figcaption {
      font-size: 70%;
      color: #444;
    }
  }

  #intro {
    position: relative;
    background-color: #f5fcfa;
    width: 300px;
    height: 650px;
    padding: 40px 20px;

    h2 {
      font-size: 40px;
      text-shadow: #999 -2px 5px 4px;
    }

    p {
      font-size: 16px;
      font-weight: bold;
      line-height: 180%;
      color: #555;
    }

    .study_tools {
      position: absolute;
      bottom: 10px;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        width: auto;
        height: auto;
      }

      .includes_tool {
        margin: 0;
        font-size: 85%;
        width: auto;
        border: 1px solid #bbb;
        border-radius: 4px;
        display: inline-block;
        padding: 5px 7px 3px 5px;
      }
    }
  }
}

#wrapper {
  border-top: 1px solid #999;
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 100%;
}

.feature, .blog {
  section#article_body {
    blockquote p, blockquote a {
      font-family: 'Acknowledgement', 'Georgia';
      color: #6f8500;
    }

    blockquote p {
      padding: 40px;
      font-size: 200%;
    }

    figure {
      float: left;
      width: 400px;
      padding: 0 15px 15px 0;

      img {
        padding-top: 9px;
        width: 400px;
        height: auto;
      }

      iframe, object, embed {
        padding-top: 9px;
        width: 400px;
        height: 250px;
      }
    }

    figcaption {
      background-color: #eee;
      padding: 5px;
      font-size: 90%;
    }

    .inline_figure {
      float: none;
      width: 100%;
      padding: 0;

      img {
        width: 100%;
      }
    }
  }
}

.recipe {

  section#article_body {

    h3 {
      font-size: 120%;
    }

    h4 {
      font-weight: bold;
      font-size: 110%;
    }

    ol {
      width: 660px;
      margin-left: 30px;

      li {
        background-color: #faf8fa;
        padding: 0 5px 0 5px;
        margin-bottom: 20px;

        img {
          margin-top: 10px;
          display: block;
        }
      }
    }
  }
}

article {
  padding: 30px 20px;
  max-width: 1000px;
  margin: 0 auto;

  p {
    line-height: 160%;
    font-family: 'Chivo', sans-serif;
    padding-top: 0;
  }

  section#vocab, section#audio, section#culture_notes {
    padding: 6px;
    border-top: 1px dashed gray;
    margin: 20px 0 20px 0;
    line-height: 150%;

    li {
      margin: 15px;
    }
  }

  #vocab {
    background-color: #fffcfa;
  }

  #culture_notes {
    background-color: #fcfaff;
  }

  a.article_bubble_trigger {
    text-decoration: none;
    color: black;
    border-bottom: 2px dotted red;
  }

  #social_media_recommend {
    margin: 40px 0 30px 0;

    a {
      display: inline-block;
      margin-left: 15px;
    }
  }

  footer {
    border-top: 1px dashed gray;

    p {
      font-size: 90%;
    }

    .tags {
      background-color: #dedede;
      padding: 1px;

      h4, p {
        display: inline;
        padding: 0;
        margin: 0;
      }
    }

    #author {
      min-height: 180px;

      ul {
        margin-left: 100px;
      }
      li {
        list-style: none;
        padding: 0 0 5px 0;
        font-size: 90%;
        color: #555;
      }
      img {
        width: 100px;
        border-radius: 20px;
        float: left;
      }
    }
  }
}

#main_footer {
  padding: 0 0 20px 20px;
  margin: 0 auto;
  max-width: 1025px;
}