// Place all the styles related to the Article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* article.css.scss
* Article styles
*
*/

article {
  padding: 20px;
  max-width: 1100px;

  p {
    line-height: 160%;
  }

  header {
    min-width: 700px;
    min-height: 300px;
    margin-bottom: 10px;
    position: relative;

    h1 {
      display: inline-block;
      margin: 0;
      font-size: 500%;
      font-family: Acknowledgement;

      a {
        text-decoration: none;
        color: black;
      }
    }

    h2 {
      width: 400px;
      font-size: 200%;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      height: 300px;
      width: 300px;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
    }
  }

  section#article_body {
    figure{
      float: left;
      width: 400px;
      margin: 5px 15px 0 0;
    }

    img {
      width: 400px;
      height: auto;
    }

    figcaption {
      background-color: #eee;
      padding: 3px;
      font-size: 80%;
    }
  }

  section#vocab, section#audio, section#culture_notes {
    border-top: 1px dashed gray;
    margin: 20px 0 20px 0;
    line-height: 150%;

    li {
      margin: 15px;
    }
  }

  a.article_bubble_trigger {
    text-decoration: none;
    color: black;
    border-bottom: 2px dotted red;
  }

  footer {
    border-top: 1px dashed gray;

    p {
      font-size: 90%;
    }
  }
}