// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  dt {
    margin: 20px 0 10px 0;
  }

  dd {
    margin: 0;
  }

  .submit {
    padding: 10px 20px 10px 20px;
    margin: 20px 0 20px 0;
    background-color: #f5fcfa;
  }

  .submit:hover {
    background-color: #6f8500;
    color: #fff;
  }
}

.error_message h2, .error_message p, .error_message li {
  color: red;
  font-style: italic;
}

