#quiz_game {
  border-top: 4px solid #000;
  border-bottom: 1px solid #000;
  padding: 30px 0 30px 0;
  min-height: 720px;

  #quiz_meta {
    background-color: #fff;
    padding: 15px 25px 15px 15px;
    margin-right: 10px;
    max-width: 520px;

    #instructions, #related_quizzes, #related_article {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #bbb;
    }

    #related_article {
      min-height: 285px;
    }

    h3 {
      font-size: 28px;
      margin: 0 0 10px 0;
      padding: 0;
    }

    #related_article {
      img {
        float: left;
        width: 200px;
      }

      h4, p { margin-left: 208px; }
      p { font-size: 14px; }
    }
  }

  iframe {
    float: right;
    height: 720px;
    width: 432px;
    overflow: hidden;
    background-color: transparent;
    frameborder: none;
    border: 0px none transparent;
    padding: 0px;
  }

}


@media all and (max-width: 600px) {

  #quiz_game {
    min-height: auto;

    #quiz_meta {
      margin-right: 0;
      max-width: 100%;
      height: auto;
    }

    iframe {
      float: none;
    }

  }


}