/* home_layout.css.scss
* Home page styles
*
*/

section#latest_articles {

  ul li {
    display: inline-block;
    width: 200px;

    h1, p {
      font-size: 15px;
    }

    .bubble_close {
      display: none;
    }

    .bubble_info {
      background-color: #ccc;
      padding: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;

      h1, p {
        width: 200px;
      }
    }
  }
}

nav#detail {
  ul {
    ul {
      display: inline-block;
      width: 200px;
    }
  }
}