/* home_layout.css.scss
* Home page styles
*
*/

section#latest_articles {

  ul li {
    display: inline-block;
    width: 200px;

    h1, p {
      font-size: 15px;
    }
  }
}

nav#detail {
  ul {
    ul {
      display: inline-block;
      width: 200px;
    }
  }
}