/* home.css.scss
* Home page styles
*
*/

#latest_articles, #featured_article, #latest_blog_posts {

  h2 {
    font-size: 110%;
    margin: 5px 0 5px 0;
    text-align: left;
  }

  h2 a {
    text-decoration: none;
  }

  h2 a:hover {
    text-decoration: underline;
  }

  p {
    font-size: 80%;
    text-align: left;
  }

  img:first-child {
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
    -moz-filter: grayscale(80%);
    -ms-filter: grayscale(80%);
    -o-filter: grayscale(80%);
    -webkit-transition: all .4s ease;
  }

  .bubble_info {
    padding: 6px;

    .study_tools {
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        width: auto;
        height: auto;
      }

      .includes_tool {
        margin: 0;
        font-size: 60%;
        width: auto;
        border: 1px solid #bbb;
        border-radius: 4px;
        display: inline-block;
        padding: 5px 7px 3px 5px;
      }
    }
  }

  ul:first-child {
    padding: 0;
    margin: 0;

    li {
      position: relative;
      display: inline-block;
      width: 200px;
    }
  }
}

#latest_articles img:first-child, #latest_blog_posts img:first-child {
      height: 200px;
      width: 200px;
}

#featured_article {
  position: relative;
  display: inline-block;
  width: 600px;
  text-align: center;
  border: 1px solid gray;
}

#latest_articles {
  margin-bottom: 6px;
}

#latest_blog_posts {
  clear: top;
  float: right;
  width: 407px;
  clear: left;
}