/* popup_base.css.scss
* Styles that are loaded only if Javascript is enabled
*
*/

#latest_articles, #featured_article, #latest_blog_posts {

  img:first-child:hover {
    background-color: #f5fcfa;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
  }

  .bubble_wrapper {
    position: relative;
  }

  .bubble_info {
    position: relative;
    background-color: #6f8500;
    width: 300px;
    opacity: 0.95;
    position: absolute;
    top: 175px;
    left: 5px;
    z-index: 100;
    color: #fff;
    text-align: left;

    h2, p:nth-child(2) {
      width: 285px;
    }

    h2, p, a {
      color: #fff;
    }
  }

  .includes_tool {
    border: 1px solid #fff;
  }

  .bubble_close {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  .study_tools {

    li {
      color: #fff;
      position: static;
      background-image: none;
    }

    li:after {
      background-image: none;
      content: none;
    }
  }

  ul {

    li {
      height: 200px;

      .study_tools {

        li {
          width: auto;
          height: auto;
        }
      }
    }
  }
}

#latest_blog_posts div.bubble_info {
  background-color: #953c10;
}



#featured_article:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  width: 600px;
  height: 405px;
  pointer-events: none;
}


#featured_article {
  height: 405px;
}

.popup_placeholder {
  position: fixed;
  bottom: 15px;
  left: 10px;
  width: 50px;
  height: 50px;
}

