// Place all the styles related to the Sez_core controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* sez_core.css.scss
* Main page styles
*
*/

section#latest_articles, section#latest_blog_posts {

  ul li {
    display: inline-block;
    width: 200px;

    h1, p {
      font-size: 15px;
    }

    .bubble_close {
      display: none;
    }

    .bubble_info {
      padding: 6px;

      h1, p {
        width: 200px;
      }
    }
  }
}

section#latest_blog_posts {
  width: 500px;
}

nav#detail {
  ul {
    ul {
      display: inline-block;
      width: 200px;
    }
  }
}