// Place all the styles related to the Sez_core controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* sez_core.css.scss
* Main page styles
*
*/

header#main_header {
  width: 1020px;
  margin-bottom: 10px;
  position: relative;

  h1 {
    display: inline-block;
    margin: 0;
    font-size: 500%;

    a {
      text-decoration: none;
      color: black;
    }
  }

  nav {
    position: absolute;
    bottom: 5px;
    right: 0;

    ul {
      margin: 0;

      li {
        display: inline-block;
        list-style: none;
        margin-left: 13px;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

section#latest_articles, section#featured_article, section#latest_blog_posts {
  clear:both;

  ul {
    padding: 0;
    margin: 0;

    li {
    display: inline-block;
    width: 200px;
    }

    h1, p, a {
      color: black;
      font-size: 15px;
    }

    .bubble_close {
      display: none;
    }

    .bubble_info {
      padding: 6px;

      h1, p {
        width: 200px;
        color: black;
      }
    }
  }
}

section#featured_article {
  display: inline-block;
  width: 600px;
  height: 405px;
  background-color: #eee;
}

section#latest_blog_posts {
  display: inline-block;
  width: 500px;
}

footer#main_footer {
  text-align: top;

  nav {
    display: table-cell;
    padding: 5px;

    ul {
      padding: 0;

      ul {
        vertical-align: top;
        display: inline-block;
        list-style: none;
        width: 195px;

        li {
          font-size: 75%;
        }
      }
    }
  }
}
