// Place all the styles related to the Sez_core controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* sez_core.css.scss
* Main page styles
*
*/

div#container {
  width: 1120px;
  margin: 0 auto;
}

#main_header {
  width: 1020px;
  margin-bottom: 10px;
  position: relative;

  h1 {
    display: inline-block;
    margin: 0;
    font-family: 'Chivo', sans-serif;
    font-size: 500%;

    a {
      text-decoration: none;
      color: black;
      font-family: Chivo;
    }
  }

  nav {
    position: absolute;
    bottom: 5px;
    right: 0;

    ul {
      margin: 0;

      li {
        display: inline-block;
        list-style: none;
        margin-left: 13px;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

#latest_articles, #featured_article, #latest_blog_posts {
  clear: both;

  h1, p, a {
    color: black;
    font-size: 15px;
    text-align: left;
  }

  img {
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
    -moz-filter: grayscale(80%);
    -ms-filter: grayscale(80%);
    -o-filter: grayscale(80%);
    -webkit-transition: all .4s ease;
  }

  img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
  }

  .bubble_close {
    display: none;
  }

  .bubble_info {
    padding: 6px;

    h1, p {
      width: 200px;
      color: black;
    }
  }

  ul {
    padding: 0;
    margin: 0;

    li {
    display: inline-block;
    width: 200px;
    }
  }
}

#latest_articles img, #latest_blog_posts img {
      height: 200px;
      width: 200px;
}

#featured_article {
  display: inline-block;
  width: 600px;
  height: 405px;
  text-align: center;
  border: 1px solid gray;
}

#latest_blog_posts {
  float: right;
  width: 500px;
}

footer#main_footer {
  clear: both;
  text-align: top;

  nav {
    display: table-cell;
    padding: 5px;

    ul {
      padding: 0;

      ul {
        vertical-align: top;
        display: inline-block;
        list-style: none;
        width: 200px;

        li {
          font-size: 75%;
        }
      }
    }
  }
}
