<nav id="article_top_nav">
  <h1><%= link_to "SEZ", root_path %></h1>
  <%= link_to "?", "#help_modal", :id => "help" %>
  <div id="help_modal" class="modal_dialog">
    <div>
      <a href="#close" title="Close" class="close">X</a>
      <h2>SEZの使い方</h2>

      <p>SEZは英語のリーディングを練習したい日本人向けのウェブサイトです。このサイトを利用して新しく興味深いものについて学んだり、リーディング力を磨いたり、英語の語彙を増やすことが出来ます。音声付きの記事もあるので、リスニングも上達することが出来ます。</p>

      <p>記事はすべてシンプルな英語で書かれているので、中級レベルの学習者は無理なく読めるはずです。</p>

      <p>赤点線が引かれている単語にマウスポインターを合わせると、説明文が画面左下に表示されます。</p>

      <p class="example_popup"><a id="help_bubble" class="article_bubble_trigger">このリンクにマウスポインターを合わせてみて！</a></p>
  </div>
</nav>