<nav id="article_top_nav">
  <h1><%= link_to "SEZ", root_path %></h1>
  <%= link_to "?", "#help_modal", :id => "help" %>
  <div id="help_modal" class="modal_dialog">
    <div>
      <a href="#close" title="Close" class="close">X</a>
      <h2>How to use SEZ</h2>

      <p>SEZ is a website for Japanese people who want to practice reading in English. By using this website you can learn about interesting new things, improve your reading ability and increase your English vocabulary. Some articles include audio so you can also improve listening.</p>

      <p>All of our articles are written in simple English, so an intermediate level learner should be able to read these articles comfortably.</p>

      <p>When you see a word with a dotted red line underneath it, hover over the word and an explanation will pop up in the bottom left corner of the screen.</p>

      <p><a id="help_bubble" class="article_bubble_trigger">Hover over this link!</a></p>
  </div>
</nav>